@use 'sass:list';
@use 'sass:meta';
@use 'variables' as var;
@use 'bulma/sass/utilities/css-variables' as cv;
@use 'bulma/sass/themes/setup' as setup;

@mixin dark-theme {
	// Colors
	--light-grey-shade: #{var.$light-grey-shade};

	// Backgrounds
	--bg-color: #{var.$bg-grey};
	--bg-white: #{var.$bg-white};
	--bg-purple: #{var.$bg-purple};
	--card-bg-color: #{var.$card-bg-grey};

	// Texts
	--text-color: #{var.$text-color};
	--text-color-grey: #{var.$text-color-grey};
	--text-highlight: #{var.$text-highlight};

	// Buttons
	--button-color: #{var.$button-dark};

	// Icons
	--icon-color: #f9f9f9;
	--icon-active-color: #{var.$text-highlight};
}
