@use 'bulma/css/bulma.min.css';
@use 'variables' as var;

@font-face {
	font-family: 'Inter';
	src: url('../assets/fonts/Inter_18pt-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Inter';
	src: url('../assets/fonts/Inter_24pt-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Inter';
	src: url('../assets/fonts/Inter_28pt-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Outfit';
	src: url('../assets/fonts/Outfit-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Outfit';
	src: url('../assets/fonts/Outfit-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

body {
	margin: 0;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	font-size: #{var.$text-font-size};
	font-family: 'Outfit', 'Outfit Placeholder', sans-serif;
	background-color: var(--bg-color);
	color: var(--text-color);

	button {
		font-size: 15px;
		font-weight: 500;
		border-radius: 8px;
		padding: 10px 15px;
	}

	.icon {
		width: 35px;
		height: 35px;
		border-radius: 5px;
		transition:
			background-color 0.5s ease,
			transform 0.5s ease;

		img,
		svg {
			height: 20px;
			width: 20px;
		}
		i {
			&.fa-thin-mimic {
				color: transparent;
				-webkit-text-stroke: 1px var(--icon-color);
			}
		}
		&:hover,
		&.is-active {
			transform: scale(1);
			background-color: var(--bg-purple);
		}
	}

	.card,
	.navbar {
		background-color: var(--card-bg-color);
	}

	h2 {
		font-size: 58px;
		font-weight: 500;
		text-shadow: 0.03em 0 0 currentColor;
		line-height: 1.2em;
	}
	.headline {
		.heading {
			font-size: var(--heading-size);
			font-weight: 550;
			line-height: 1.1em;
		}

		@media screen and (max-width: 768px) {
			padding-left: 0;
			padding-right: 0;

			.heading {
				font-size: var(--heading-size-responsive);
			}
		}
	}

	.text-highlight {
		color: var(--text-highlight);
	}
	.section-margin {
		&-top {
			$margin-values: (0, 30, 60, 90);
			@each $value in $margin-values {
				&-#{$value} {
					margin-top: #{$value}px !important;

					&-mobile {
						@media screen and (max-width: 768px) {
							margin-top: #{$value}px !important;
						}
					}
				}
			}
		}
	}

	// Sizes
	--icon-size: #{var.$icon-size};
	--text-font-size: #{var.$text-font-size};
	--text-small-font-size: #{var.$text-small-font-size};
	--label-font-size: #{var.$label-font-size};
	--h2-mobile-size: #{var.$h2-mobile-size};
	--heading-size: #{var.$heading-size};
	--heading-size-responsive: #{var.$heading-size-responsive};
}
