// Colors

$light-grey-shade: rgb(67 68 69);
$text-color: #f9f9f9;
$text-highlight: #914bf1;
$text-color-grey: rgb(208 208 208);

// Background
$bg-grey: #101112;
$bg-white: #ffffff;
$bg-purple: #914bf1;

// Card
$card-bg-grey: rgb(45 46 47);
$card-bg-white: #dcd0ff;

// Button
$button-light: rgb(145 78 238);
$button-dark: rgb(145 78 238);

// Sizes
$icon-size: 18px;
$text-font-size: 18px;
$text-small-font-size: 16px;
$label-font-size: 14px;
$heading-size: 60px;
$heading-size-responsive: 40px;
$h2-mobile-size: 38px;

// Spacing
$section-margin-top-mobile: 90px;
